USE [master]
GO
/****** Object:  Database [Album]    Script Date: 1/7/2026 09:02:44 ******/
CREATE DATABASE [Album]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album]
GO
/****** Object:  User [alumno]    Script Date: 1/7/2026 09:02:44 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 1/7/2026 09:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[IdFigurita] [int] IDENTITY(1,1) NOT NULL,
	[IdJugador] [int] NOT NULL,
	[Foto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Figuritas] PRIMARY KEY CLUSTERED 
(
	[IdFigurita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 1/7/2026 09:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[IdJugador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdSeleccion] [int] NOT NULL,
	[Posicion] [varchar](50) NOT NULL,
	[NumCamiseta] [int] NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecciones]    Script Date: 1/7/2026 09:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[IdSeleccion] [int] IDENTITY(1,1) NOT NULL,
	[Grupo] [varchar](50) NOT NULL,
	[País] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED 
(
	[IdSeleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sobre]    Script Date: 1/7/2026 09:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sobre](
	[IdSobre] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Sobre] PRIMARY KEY CLUSTERED 
(
	[IdSobre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SobresXFiguritas]    Script Date: 1/7/2026 09:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SobresXFiguritas](
	[IdFiguritas] [int] NOT NULL,
	[IdSobres] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 1/7/2026 09:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosXFiguritas]    Script Date: 1/7/2026 09:02:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosXFiguritas](
	[IdFigurita] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Cantidad] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Figuritas] ON 

INSERT [dbo].[Figuritas] ([IdFigurita], [IdJugador], [Foto]) VALUES (1, 1, N'ARG10.jfif')
INSERT [dbo].[Figuritas] ([IdFigurita], [IdJugador], [Foto]) VALUES (2, 2, N'ARG9.jpg')
INSERT [dbo].[Figuritas] ([IdFigurita], [IdJugador], [Foto]) VALUES (3, 3, N'ARG7.jfif')
SET IDENTITY_INSERT [dbo].[Figuritas] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([IdJugador], [Nombre], [IdSeleccion], [Posicion], [NumCamiseta]) VALUES (1, N'Messi', 1, N'Delantero', 10)
INSERT [dbo].[Jugadores] ([IdJugador], [Nombre], [IdSeleccion], [Posicion], [NumCamiseta]) VALUES (2, N'Julián Alvaréz', 1, N'Delantero', 9)
INSERT [dbo].[Jugadores] ([IdJugador], [Nombre], [IdSeleccion], [Posicion], [NumCamiseta]) VALUES (3, N'De Paul', 1, N'Central', 7)
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Selecciones] ON 

INSERT [dbo].[Selecciones] ([IdSeleccion], [Grupo], [País]) VALUES (1, N'J', N'Argentina')
INSERT [dbo].[Selecciones] ([IdSeleccion], [Grupo], [País]) VALUES (2, N'F', N'Suecia')
INSERT [dbo].[Selecciones] ([IdSeleccion], [Grupo], [País]) VALUES (3, N'F', N'Japón')
SET IDENTITY_INSERT [dbo].[Selecciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Email], [Nombre]) VALUES (1, N'solhilu16@gmail.com', N'Sol Hilú')
INSERT [dbo].[Usuarios] ([IdUsuario], [Email], [Nombre]) VALUES (2, N'iaraag69@gmail.com', N'Iara Yoon')
INSERT [dbo].[Usuarios] ([IdUsuario], [Email], [Nombre]) VALUES (3, N'bautiDP@gmail.com', N'Bautista Di Paolo')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Jugadores] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[Jugadores] ([IdJugador])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Jugadores]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Selecciones] FOREIGN KEY([IdSeleccion])
REFERENCES [dbo].[Selecciones] ([IdSeleccion])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Selecciones]
GO
ALTER TABLE [dbo].[Sobre]  WITH CHECK ADD  CONSTRAINT [FK_Sobres_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Sobre] CHECK CONSTRAINT [FK_Sobres_Usuario]
GO
ALTER TABLE [dbo].[Sobre]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Sobre] FOREIGN KEY([IdSobre])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Sobre] CHECK CONSTRAINT [FK_Usuarios_Sobre]
GO
ALTER TABLE [dbo].[SobresXFiguritas]  WITH CHECK ADD  CONSTRAINT [FK_SobresXFiguritas_Figuritas] FOREIGN KEY([IdFiguritas])
REFERENCES [dbo].[Figuritas] ([IdFigurita])
GO
ALTER TABLE [dbo].[SobresXFiguritas] CHECK CONSTRAINT [FK_SobresXFiguritas_Figuritas]
GO
ALTER TABLE [dbo].[SobresXFiguritas]  WITH CHECK ADD  CONSTRAINT [FK_SobresXFiguritas_Sobre] FOREIGN KEY([IdSobres])
REFERENCES [dbo].[Sobre] ([IdSobre])
GO
ALTER TABLE [dbo].[SobresXFiguritas] CHECK CONSTRAINT [FK_SobresXFiguritas_Sobre]
GO
ALTER TABLE [dbo].[UsuariosXFiguritas]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosXFiguritas_Figuritas] FOREIGN KEY([IdFigurita])
REFERENCES [dbo].[Figuritas] ([IdFigurita])
GO
ALTER TABLE [dbo].[UsuariosXFiguritas] CHECK CONSTRAINT [FK_UsuariosXFiguritas_Figuritas]
GO
ALTER TABLE [dbo].[UsuariosXFiguritas]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosXFiguritas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuariosXFiguritas] CHECK CONSTRAINT [FK_UsuariosXFiguritas_Usuarios]
GO
USE [master]
GO
