USE [master]
GO
/****** Object:  Database [Album]    Script Date: 8/7/2026 08:20:18 ******/
CREATE DATABASE [Album]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Album_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album]
GO
/****** Object:  User [alumno]    Script Date: 8/7/2026 08:20:18 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 8/7/2026 08:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[IdFigurita] [int] IDENTITY(1,1) NOT NULL,
	[Foto] [varchar](50) NOT NULL,
	[NombreJugador] [varchar](50) NOT NULL,
	[IdSeleccion] [int] NOT NULL,
	[Posicion] [varchar](50) NOT NULL,
	[NumCamiseta] [int] NOT NULL,
 CONSTRAINT [PK_Figuritas] PRIMARY KEY CLUSTERED 
(
	[IdFigurita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FiguritaUsuario]    Script Date: 8/7/2026 08:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiguritaUsuario](
	[IdFigurita] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Cantidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecciones]    Script Date: 8/7/2026 08:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[IdSeleccion] [int] IDENTITY(1,1) NOT NULL,
	[Grupo] [varchar](50) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Selecciones] PRIMARY KEY CLUSTERED 
(
	[IdSeleccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/7/2026 08:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Figuritas] ON 

INSERT [dbo].[Figuritas] ([IdFigurita], [Foto], [NombreJugador], [IdSeleccion], [Posicion], [NumCamiseta]) VALUES (1, N'ARG10', N'Messi', 1, N'Delantero', 10)
INSERT [dbo].[Figuritas] ([IdFigurita], [Foto], [NombreJugador], [IdSeleccion], [Posicion], [NumCamiseta]) VALUES (2, N'ARG7', N'De Paul', 1, N'Mediocampo derecha', 7)
INSERT [dbo].[Figuritas] ([IdFigurita], [Foto], [NombreJugador], [IdSeleccion], [Posicion], [NumCamiseta]) VALUES (3, N'ARG9', N'Julián Alvarez', 1, N'Delantero', 9)
SET IDENTITY_INSERT [dbo].[Figuritas] OFF
GO
SET IDENTITY_INSERT [dbo].[Selecciones] ON 

INSERT [dbo].[Selecciones] ([IdSeleccion], [Grupo], [Pais]) VALUES (1, N'J', N'Argentina')
INSERT [dbo].[Selecciones] ([IdSeleccion], [Grupo], [Pais]) VALUES (2, N'F', N'Suecia')
INSERT [dbo].[Selecciones] ([IdSeleccion], [Grupo], [Pais]) VALUES (3, N'F', N'Japón')
SET IDENTITY_INSERT [dbo].[Selecciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Email]) VALUES (1, N'Bautista Di Paolo', N'bautidp@gmail.com')
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Email]) VALUES (2, N'Sol Hindú', N'solhindu16@gmail.com')
INSERT [dbo].[Usuarios] ([IdUsuario], [NombreUsuario], [Email]) VALUES (3, N'Iara Aguirre', N'iaraa@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Selecciones] FOREIGN KEY([IdSeleccion])
REFERENCES [dbo].[Selecciones] ([IdSeleccion])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Selecciones]
GO
ALTER TABLE [dbo].[FiguritaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_FiguritaUsuario_Figuritas] FOREIGN KEY([IdFigurita])
REFERENCES [dbo].[Figuritas] ([IdFigurita])
GO
ALTER TABLE [dbo].[FiguritaUsuario] CHECK CONSTRAINT [FK_FiguritaUsuario_Figuritas]
GO
ALTER TABLE [dbo].[FiguritaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_FiguritaUsuario_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[FiguritaUsuario] CHECK CONSTRAINT [FK_FiguritaUsuario_Usuarios]
GO
USE [master]
GO
