@model List<TP4_Album.Models.Figuritas>

<form asp-action="ConfirmarSobre" method="post">
    <div class="album">
        @foreach (var figu in ViewBag.Sobre)
        {
            <input type="hidden" name="idsFiguritas" value="@figu.IdFigurita" />
            <div class="figurita">
                <img src="@Url.Content("~/Imagen/" + figu.Foto)" />
                <h3>@figu.NombreJugador</h3>
            </div>
        }
    </div>

    <button type="submit">Aceptar Sobre</button>
</form>